.devise
  .devise_image
    = image_tag 'cook.png'
  %h1 My Recipe
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', class: 'email_field'
    .field
      = f.password_field :password, autocomplete: "new-password", placeholder: 'password', class: 'password_field'
    .actions
      = f.submit "SIGN UP"
  = render "devise/shared/links"
