.devise
  .devise_image
    = image_tag 'cook.png'
  %h1 My Recipe
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'email_field'
    .actions
      = f.submit "ロック解除方法の確認"
  .devise_links    
    = render "devise/shared/links"
