= render 'commons/header'
.container
  = form_with(model: @recipe, local: true) do |f|
    %div
      = f.label :title, '料理名', class: 'item'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :url, 'URL', class: 'item'
    %div
      = f.text_field :url, class: 'text'
    %div
      = f.label :info, 'URL情報', class: 'item'
    %div
      = f.text_area :info, class: 'text_info'
    %div
      = f.label :content, 'メモ', class: 'item'
    %div
      = f.text_area :content, class: 'text_content'
    %div
      = f.label :category, 'カテゴリー', class: 'category-item'
    %div.checkbox
      = f.collection_check_boxes :categories, Category.all, :id, :foodclass, { checked: @category_ids.map(&:to_param) }

    .active
      = f.submit 'update', class: 'btn, active-btn'
    .cancel
      = link_to 'cancel', recipe_path, class: 'cancel_btn' 

= render 'commons/footer'