.header
  .header-title
    %h2 My Recipe
.container    
  - @recipes.each do |recipe|
    .recipe-row
      .recipe-row-contents
        = link_to recipe_path(recipe.id) do
          .recipe-category-imag
            = image_tag 'Bitmap.png'
          .recipe-intro
            .recipe-title
              %p= recipe.title
            .recipe-info
              %span= recipe.info
      .recipe-trash
        = link_to recipe_path(recipe.id), data: { method: 'delete', confirm: '本当に削除しますか' } do
          %i.fa-solid.fa-trash
.footer
  .footer_post-btn
    %i.fa-solid.fa-circle-plus
  .footer_menu
    .home-btn
      %i.fa-solid.fa-house
    .revenge-btn 
      %i.fa-solid.fa-fire
    .nill
    .nomake-btn
      %i.fa-solid.fa-kitchen-set
    .search-btn
      %i.fa-solid.fa-magnifying-glass