= form_with(model: @recipe, local: true) do |f|
  %div
    = f.label :title, '料理名'
  %div
    = f.text_field :title 
  %div
    = f.label :url, 'URL'
  %div
    = f.text_field :url
  %div
    = f.label :info, '補足情報'
  %div
    = f.text_field :info
  %div
    = f.label :content, 'メモ'
  %div
    = f.text_area :content
  %div
    = f.label :category, 'カテゴリー'
  %div
    = f.collection_check_boxes :categorys, Category.all, :id, :foodclass

  .active
    = f.submit '保存'