= render 'commons/header'
.container
  = form_with(model: @recipe, local: true) do |f|
    %div
      = f.label :title, '料理名', class: 'item'
    %div
      = f.text_field :title, class: 'text', placeholder: ' 例) 悪魔の唐揚げ'
    %div
      = f.label :url, 'URL', class: 'item'
    %div
      = f.text_field :url, class: 'text', placeholder: ' 例) https://twitter.com/marumi_kitchen/status/1508368297863000069?s=21'
    %div
      = f.label :info, 'URL情報', class: 'item'
    %div
      = f.text_area :info, class: 'text_info', placeholder: ' 例) まるみキッチン【簡単レシピ】さんのツイート'
    %div
      = f.label :content, 'メモ', class: 'item'
    %div
      = f.text_area :content, class: 'text_content', placeholder: ' 例) 炊飯器で一発!めちゃくちゃ簡単'
    %div
      = f.label :category, 'カテゴリー', class: 'category-item'
    %div.checkbox
      = f.collection_check_boxes :categorys, Category.all, :id, :foodclass

    .active
      = f.submit 'submit', class: 'active-btn'

= render 'commons/footer'