= render 'commons/header'
.container#recipe{ date: {recipe_id: @recipe.id} }
  .recipe-row
    .recipe-intro
      .recipe-title
        %h2= @recipe.title
      .recipe-url
        %a= 'リンク先：' + @recipe.url
        .recipe-info
          %span= @recipe.info
      .recipe-content
        %p= @recipe.content
  .btn-action
    = link_to '評価', new_recipe_assessment_path(@recipe.id), class: 'edit-btn' 
    = link_to '編集', edit_recipe_path, class: 'edit-btn'  
  -# = link_to '評価ー編集', edit_recipe_assessment_path(@recipe.id)

  - if @recipe.assessment.present?
    .assessment
      %p 美味しさ
      .star-vlaue#star-taste1
      %p 作りやすさ
      .star-vlaue#star-taste2
      %p 費用
      .star-vlaue#star-taste3

    = render 'commons/star_assessment/show'

= render 'commons/footer'
