= render 'commons/header'
.container    
  .recipe-row
    .recipe-intro
      .recipe-title
        %p= @recipe.title
      .recipe-url
        %a= @recipe.url
      .recipe-info
        %span= @recipe.info
      .recipe-content
        %p= @recipe.content

= render 'commons/footer'