= render 'commons/header'
.container#recipe{ date: {recipe_id: @recipe.id} }
  .recipe-row
    .recipe-intro
      .recipe-title
        %h2= @recipe.title
      .recipe-url
        %a= 'リンク先：' + @recipe.url
        .recipe-info
          %span= @recipe.info
      .recipe-content
        %p= @recipe.content
  .btn-action
    .assessment_show_btn
      - if @recipe.assessment.present?
        %p.assessment_btn 再評価
      - else
        %p.assessment_btn 評価
    = link_to '編集', edit_recipe_path, class: 'edit-btn'
    = link_to '削除', recipe_path(@recipe.id), data: { method: 'delete', confirm: '本当に削除しますか' }, class: 'edit-btn'

  - if @recipe.assessment.present?
    .assessment
      %p 美味しさ
      .star-vlaue#star-taste1
      %p 作りやすさ
      .star-vlaue#star-taste2
      %p 費用
      .star-vlaue#star-taste3

    = render 'commons/star_assessment/show'
  
  .assessment_show.hidden
    - if @recipe.assessment.present?
      = form_tag(recipe_assessment_path(recipe_id: @recipe.id, id: @recipe.assessment.id), method: :put) do
        .assessment_form
          %div
            = label :taste, '美味しさ'
          %div.starform#star-taste
            = hidden_field_tag :taste, id: :review_star
          %div
            = label :easily, '作りやすさ'
          %div.starform#star-easily
            = hidden_field_tag :easily, id: :review_star  
          %div
            = label :cost, '費用'
          %div.starform#star-cost
            = hidden_field_tag :cost, id: :review_star  
          %div
            = label :revenge, '再挑戦', class: 'app_checkbox'
          %div.app_checkbox
            = check_box_tag :revenge, true
            %label{:for => 'revenge'}
          
          .cancel
            %p.cancel_btn cancel
          .active
            = submit_tag 'edit', class: 'assessment_active_btn'


          = render 'commons/star_assessment/edit'

    -else
      = form_tag(recipe_assessments_path(@recipe.id), method: :post) do
        .assessment_form
          %div
            = label :taste, '美味しさ'
          %div.starform#star-taste
            = hidden_field_tag :taste, id: :review_star
          %div
            = label :easily, '作りやすさ'
          %div.starform#star-easily
            = hidden_field_tag :easily, id: :review_star  
          %div
            = label :cost, '費用'
          %div.starform#star-cost
            = hidden_field_tag :cost, id: :review_star  
          %div
            = label :revenge, '再挑戦', class: 'app_checkbox'
          %div.app_checkbox
            = check_box_tag :revenge, true
            %label{:for => 'revenge'}

          .cancel
            %p.cancel_btn cancel
          .active
            = submit_tag 'submit', class: 'assessment_active_btn'

          = render 'commons/star_assessment/new'


= render 'commons/footer'
