.footer
  .footer_post-btn
    = link_to new_recipe_path do
      %i.fa-solid.fa-circle-plus
  .footer_menu
    .home-btn
      = link_to root_path do
        %i.fa-solid.fa-house
      %p ホーム
    .revenge-btn
      = link_to revenges_path do
        %i.fa-solid.fa-fire
      %p リベンジ
    .nill
    .nomake-btn
      = link_to nocreateds_path do
        %i.fa-solid.fa-kitchen-set
      %p 未作成
    .search-btn
      = link_to searches_path do
        %i.fa-solid.fa-magnifying-glass
      %p 検索