.devise
  .devise_image
    = image_tag 'cook.png'
  %h1 My Recipe
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'email_field'
    .field
      = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: 'password_field'
    .actions
      = f.submit "ログイン"
  .devise_links    
    = render "devise/shared/links"
