= render 'commons/header'
.container    
  - @assessments.each do |assessment|
    .recipe-row
      .recipe-row-contents
        = link_to recipe_path(assessment.recipe_id) do
          .recipe-category-imag
            = image_tag 'Bitmap.png'
          .recipe-intro
            .recipe-title
              %p= assessment.recipe.title
            .recipe-info
              %span= assessment.recipe.info
      .recipe-trash
        = link_to recipe_path(assessment.recipe_id), data: { method: 'delete', confirm: '本当に削除しますか' } do
          %i.fa-solid.fa-trash

= render 'commons/footer'